/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #405D72;
    color: #333;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    font-weight: 600;
    font-size: 1.2rem;
    background: #F7E7DC;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

a {
    display: block;
    color: #007bff;
    text-decoration: none;
}

/* Additions for hover effects */
ul li:hover {
    background: #e9ecef;
    cursor: pointer;
    transform: translateY(-5px); /* Moves the item up by 5 pixels */
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}


/* Responsive Design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
}