/* Basic Reset */
.gradient-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mona Sans', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 6rem !important;
    font-weight: 700 !important;
}

.btn {
    font-size: 2rem !important;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

/* Medium screens (tablets, 768px and up) */
@media (max-width: 768px) {
    #animated-header {
      font-size: 4rem !important;
    }
  }
  
  /* Small screens (phones, 576px and up) */
  @media (max-width: 576px) {
    #animated-header {
      font-size: 3rem !important;
    }
    .btn {
        font-size: 1rem !important;
    }
  }


/* Apply this class to the element you want to style */
.fancy-box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 
                0 6px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

/* Add a hover effect for a more dynamic look */
.fancy-box-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
                0 12px 40px rgba(0, 0, 0, 0.2);
}

.dropdown-menu, .dropdown-item, .dropdown {
    background-color: transparent !important;
}

.transparent-border {
    border: transparent !important;
}

.dropdown-item {
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: right;
  }

  .dropdown-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .tooltip-image {
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
    z-index: 1000;
}

.tooltip-image img {
    max-width: 200px;
    max-height: 200px;
}

.bi-github {
    margin-top: -2px;
}

.custom-scroll {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
  }

  /* WebKit browsers (Chrome, Safari) */
.custom-scroll::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.custom-scroll::-webkit-scrollbar-track, html::-webkit-scrollbar-track{
    background: transparent; /* Background of the scrollbar track */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Make animated introduction */
.hidden {
    visibility: hidden;
}